In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Assignment_Timecard.xlsx')

In [3]:
df['Time'] = pd.to_datetime(df['Time'], format='%m-%d-%Y %I:%M %p')
df['Time Out'] = pd.to_datetime(df['Time Out'], format='%m-%d-%Y %I:%M %p')

In [4]:
df['Time Difference'] = (df['Time'] - df['Time Out'].shift()).dt.total_seconds() / 3600

In [5]:
filtered_df = df[(df['Time Difference'] > 1) & (df['Time Difference'] < 10)]

In [6]:
filtered_df[['Employee Name', 'Time', 'Time Out', 'Time Difference']]

,Employee Name,Time,Time Out,Time Difference
54,"CaMaXaWE, CeghaW",2023-09-11 19:01:00,2023-09-11 20:00:00,2.250000
65,"CaMaXaWE, CeghaW",2023-09-20 18:32:00,2023-09-20 19:33:00,1.483333
163,"Xee, XaCar",2023-09-12 00:00:00,2023-09-12 04:30:00,9.683333
174,"Xee, XaCar",2023-09-18 23:00:00,2023-09-19 03:30:00,8.500000
177,"Xee, XaCar",2023-09-19 23:00:00,2023-09-20 03:30:00,9.200000
277,"De Xa Cerda, IgWaciE",2023-09-22 15:00:24,2023-09-22 18:50:00,3.006667
302,"MraW, WiXXiaC Ha",2023-09-14 08:30:05,2023-09-14 12:30:08,9.994167
312,"MraW, WiXXiaC Ha",2023-09-21 08:00:11,2023-09-21 12:30:39,9.751944
592,"CEreira Jr, JEse",2023-09-14 08:00:00,2023-09-14 14:00:00,4.183333
940,"GrACfieXd, CErWeXiAs",2023-09-12 15:00:10,2023-09-12 17:29:14,1.002778
1037,"DeXgadiXXE REdarMe, ChrisMiaW S",2023-09-17 23:27:00,2023-09-18 03:30:59,3.946944
1075,"HaCiXMEW, DeaWMe DevEW",2023-09-21 18:45:00,2023-09-21 18:45:00,2.666667
1162,"REdrigAez, GraWdEW AWgeX",2023-09-23 15:45:00,2023-09-23 19:17:00,1.150000
1328,"SaWchez, ArWAXfE",2023-09-11 02:17:00,2023-09-11 06:20:00,6.050278